{{!-- {{dashboard/child-dashboard cost=costAvg}} --}}
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	<a class="dashboard-stat dashboard-stat-v2 blue" href="#">
		<div class="visual">
			<i class="fa fa-comments"></i>
		</div>
		<div class="details">
			<div class="number">
				<span data-counter="counterup" data-value="12314">{{costAvg}} {{t "currency.sign"}}</span>
			</div>
			<div class="desc">{{t "dashboard.average"}}</div>
		</div>
	</a>
</div>

<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	<a class="dashboard-stat dashboard-stat-v2 red" href="#">
		<div class="visual">
			<i class="fa fa-bar-chart-o"></i>
		</div>
		<div class="details">
			<div class="number">
				<span data-counter="counterup" data-value="12,5">{{costSUMM}} {{t "currency.sign"}}</span>
			</div>
			<div class="desc">{{t "dashboard.summary"}}</div>
		</div>
	</a>
</div>