 {{#if isDayEmpty}}
<div class="alert alert-warning">
    <div class="row">
        <div class="col-md-8">
            Рабочее время не настроено.
        </div>
        <div class="col-md-4">
            {{yield}}
        </div>
    </div>
</div>
{{/if}}
<br/>
{{#if currentWorkTimes}}
<div class="alert alert-info">
    <div class="row">
        <div class="col-md-8">
            Текущее рабочее время: {{#each currentWorkTimes as |time|}}
            <div>{{time.timeRange}}</div>
            {{/each}}
        </div>
        <div class="col-md-4">
            {{yield}}
        </div>
    </div>
</div>

<div class="progress">
    {{#each times as |time|}}
    {{log "now" time.now}}
    <div class="progress-bar {{time.css}}" style="width: {{time.now}}%">
        {{time.now}}%
    </div>
    {{/each}}
</div>
{{/if}}