<form class="form-horizontal" {{action 'save' on='submit'}}>
	<div class="form-body">
		<div class="form-group">
            <label class="col-sm-4 control-label">Имя</label>
            <div class="col-sm-8">
                {{input name="firstname" class="form-control" value=master.firstname}}
            </div>
        </div> 
		<div class="form-group">
            <label class="col-sm-4 control-label">Фамилия</label>
            <div class="col-sm-8">
                {{input name="secondname" class="form-control" value=master.secondname}}
            </div>
        </div>
		<div class="form-group">
            <label class="col-sm-4 control-label">Телефон</label>
            <div class="col-sm-8">
                {{input-mask mask='+7(999)999-99-99' id='phone' name='phone' class="form-control" type='tel' value=master.phone}}
            </div>
        </div>

		{{#unless master.id}}
			<div class="form-group">
	            <label class="col-sm-4 control-label">Пароль</label>
	            <div class="col-sm-8">
	                {{input type="password" name="password" class="form-control"  value=master.password}}
	            </div>
	        </div>
			<div class="form-group">
	            <label class="col-sm-4 control-label">Повторить пароль</label>
	            <div class="col-sm-8">
	                {{input type="password" name="rpassword" class="form-control"  value=master.rpassword}}
	            </div>
	        </div>
		{{/unless}}

		<div class="form-group">
            <label class="col-sm-4 control-label">E-mail</label>
            <div class="col-sm-8">
                {{input name="email" class="form-control" value=master.email}}
            </div>
        </div>

        {{input type="hidden" name="masterRole" value=master.masterRole}}
	</div>
	<div class="form-actions">
        <div class="row">
            <div class="col-sm-offset-4 col-sm-8">
                {{input class="btn btn-success" type="submit" value="Сохранить"}}
                {{#link-to "master.index" class="btn btn-default"}}
                    <i class="fa fa-arrow-left"></i>
                    Назад
                {{/link-to}}
            </div>
        </div>
	</div>
</form>