<form id="service-form">
	<div class="form-body">
		<div class="form-group">
			<label>Название</label>
			{{input name="name" class="form-control" value=service.name}}
		</div>
		<div class="form-group">
			<label>Стоимость</label>
			{{input name="cost" class="form-control"  value=service.cost}}
		</div>
		<div class="form-group">
			<label>Продолжительность</label>
			{{input name="time" class="form-control"  value=service.time}}
		</div>
		<div class="form-group">
			<label>Мастера</label>
			{{#each service.masters as |master|}}
				{{master.email}}
			{{/each}}
		</div>
		<div class="form-group">
			<label>Подуслуги</label>
			{{#each service.subservices as |subservice|}}
				{{subservice.name}}
			{{/each}}
		</div>
	</div>
	<div class="form-actions">
		<button type="submit" class="btn btn-success" {{action 'saveService'}}>Создать</button>
	</div>
</form>