<form id="service-form">
	<div class="form-body">
		<div class="form-group">
			<label>Название</label>
			{{input name="name" class="form-control" value=service.name}}
		</div>
		<div class="form-group">
			<label>Стоимость</label>
			{{input name="cost" class="form-control"  value=service.cost}}
		</div>
		<div class="form-group">
			<label>Продолжительность</label>
			{{input name="time" class="form-control"  value=service.time}}
		</div>
		<div class="form-group">
			<label>Мастера</label>
			<select id="master-list" class="form-control">
				{{#each masters as |master|}}
					<option value="{{master.id}}">{{master.firstname}} {{master.secondname}}</option>
				{{/each}}
			</select>
		</div>
		<div class="form-group">
			<label>Подуслуги</label>
			<select id="subservice-list" class="show-tick  form-control" multiple="multiple" data-live-search="true">
				{{#each subservices as |subservice|}}
					<option value="{{subservice.id}}">{{subservice.name}}</option>
				{{/each}}
			</select>
		</div>
	</div>
	<div class="form-actions">
		<button type="submit" class="btn btn-success" {{action 'saveService'}}>Создать</button>
	</div>
</form>