<form class="form-horizontal" {{action 'save' on='submit'}}>
    <div class="form-body">
        <div class="form-group">
            <label class="col-sm-4 control-label">
                Название
                <span class="required" aria-required="true"> * </span>
            </label>
            <div class="col-sm-6">
                {{input name="name" 
                class="form-control" 
                value=serviceGroup.name
                focus-out=(action (mut showNameError) true)}}
                {{#if showNameError}}
                    <small class="help-block">
                        {{v-get serviceGroup 'name' 'message'}}
                    </small>
                {{/if}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">
                Мастера
                <span class="required" aria-required="true"> * </span>
            </label>
            <div class="col-sm-6">
                {{#power-select-multiple 
                    options=masters 
                    selected=selectedMasters
                    searchField="fullname"
                    onchange=(action (mut selectedMasters))
                    as |master| }}
                    {{master.fullname}}
                {{/power-select-multiple}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">
                Подуслуги
                <span class="required" aria-required="true"> * </span>
            </label>
            <div class="col-sm-8">
                {{subservice-list 
                    subservices=subservices
                    serviceGroup=serviceGroup}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Стоимость</label>
            <div class="col-sm-6">
                <label class="form-control-static">
                    {{serviceGroup.cost}}&nbsp;<i class="fa fa-ruble"></i>
                </label>
                {{input type="hidden" name="cost" value=serviceGroup.cost}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Продолжительность</label>
            <div class="col-sm-6">
                <label class="form-control-static">
                    {{serviceGroup.time}}&nbsp;мин.
                </label>
                {{input type="hidden" name="time" value=serviceGroup.time}}
            </div>
        </div>
    </div>
    <div class="form-actions">
        <div class="row">
            <div class="col-sm-offset-4 col-sm-8">
                {{input 
                    class="btn btn-success" 
                    type="submit" 
                    value="Сохранить"
                    }}
                {{#link-to "service.index" class="btn btn-default" }}
                    <i class="fa fa-arrow-left"></i> Назад
                {{/link-to}}
            </div>
        </div>
    </div>
</form>