<table id="service-list" class="table table-hover dataTables">
	<thead>
		<tr>
			<th>Название</th>
			<th class="text-right">modelName</th>
			<th class="text-right">Стоимость</th>
			<th class="text-right">Время</th>
			<th class="text-right">Мастер</th>
			<th class="text-right"></th>
		</tr>
	</thead>
	<tbody>
		{{#each list as |service|}}
			<tr>
				<td>
					{{service.name}}
					{{#if service.partOfList}}
						<span class="label label-info">подуслуга</span>
					{{/if}}
				</td>
				<td class="text-right">
					{{service.modelName}}
				</td>
				<td class="text-right">
					{{service.time}}&nbsp;<i class="fa fa-ruble"></i>
				</td>
				<td class="text-right">{{service.cost}}&nbsp;мин.</td>
				<td class="text-right">
					{{#each service.masters as |master|}}
						<span class="service-list__master">{{master.fullname}}</span>
					{{/each}}
				</td>
				<td class="text-right service-list__actions">
					{{#link-to "service.edit" service.id class="btn btn-default"}}
						<i class="fa fa-pencil"></i>
					{{/link-to}}
					 <button type="button" class="btn btn-danger" {{action 'delete' service.id}}>
						<i class="fa fa-trash"></i>
					</button>
				</td>
			</tr>
		{{/each}}
	</tbody>
</table>