{{!-- component in tr --}}

<td>
	<span class="subservice-list__drag-icon">
		<img src="/img/drag-dots.svg">
	</span>
</td>
<td>
	<select class="select2 form-control" name="subservices" onchange={{action "selectSubservice" value="target.value" }}>
        {{#each serviceList as |item|}}
            <option value="{{item.id}}" data-value="{{row.id}}">{{item.name}}</option>
        {{/each}}
    </select>
    {{row.name}}
</td>
<td>
	{{input class="form-control subservice-list__timeout" type="tel" value=row.timeout}}
	{{input type="hidden" value=row.id name="rowId"}}
</td>
<td>
	<button type="button" class="btn btn-danger" {{action "removeSubserviceRow" row.id}}>
		<i class="fa fa-trash"></i>
	</button>
</td>
