<table class="table">
	<thead>
		<tr>
			<td class="col-sm-1"></td>
			<td class="col-sm-7">Услуга</td>
			<td class="col-sm-3">Перерыв</td>
			<td class="col-sm-1">
				<button type="button" class="btn btn-default" {{action "addServiceToGroup"}} disabled= {{isRowAddingDisabled}}>
					<i class="fa fa-plus"></i>
				</button>
			</td>
		</tr>
	</thead>
	{{!-- <tbody> --}}
	{{#sortable-group tagName="tbody" onChange="reorderSubservices" as |group|}}
		{{#each servicesToGroup as |item|}}
			{{#sortable-item tagName="tr" model=item group=group handle=".subservice-list__drag-icon" }}
				<td>
					<span class="subservice-list__drag-icon">
							<img src="/img/drag-dots.svg">
						</span>
				</td>
				<td>
					{{subservice-select 
							serviceToGroup=item 
							subservices=subservices
							serviceGroup=serviceGroup}}
				</td>
				<td>
					{{input 
							class="form-control subservice-list__timeout"
							name="serviceTimeout" 
							type="tel" 
							value=item.serviceTimeout 
							focus-out="inputServiceToGroupTimeout"}}
				</td>
				<td>
					<button type="button" class="btn btn-danger" {{action "removeServiceToGroup" item}}>
						<i class="fa fa-trash"></i>
					</button>
				</td>
			{{/sortable-item}}
		{{/each}}
	{{/sortable-group}}
	{{!-- 		<tr>

		</tr> --}}
	{{!-- </tbody> --}}
</table>