<div class="row ticket-info-top ticket-info-client-top hidden">
    <div class="col-md-12 text-center">
        {{#if phone}}
            {{#if client.id}}
                <div>{{client.firstname}} {{client.secondname}}</div>
            {{else}}
                <div>
                    {{input value=value placeholder="Имя и Фамилия клиента" class="form-control"}}
                </div>
            {{/if}}
        {{/if}}
        <div class="ticket-info-client-top__phone">
            <span class="ticket-info-client-top__code">
                +7
            </span>
            <div class="ticket-info-client-top__input">{{phone}}</div>
            <div class="ticket-info-client-top__mask">9041234567</div>
        </div>
    </div>
</div>
{{yield}}