<div class="portlet-title">
    <div class="caption">
        <i class="icon-user font-red-sunglo"></i>
        <span class="caption-subject font-red-sunglo">Клиент</span>
    </div>
    <div class="actions">
        {{ticket-direction-btn direction="left" elemSelector="#ticket-time" stepSelector="#time-step"}}
        {{ticket-direction-btn direction="right" elemSelector="#ticket-master" stepSelector="#master-step"}}
    </div>
</div>
<div class="portlet-body ticket-portlet-body">
    <div class="grid center-block-vertically">
        <div class="row margin-bottom-10">
            <div class="col-md-12 text-center">
                {{ticket-phone-btn value = "7"}}
                {{ticket-phone-btn value = "8"}}
                {{ticket-phone-btn value = "9"}}
            </div>
        </div>
        <div class="row margin-bottom-10">
            <div class="col-md-12 text-center">
                {{ticket-phone-btn value = "4"}}
                {{ticket-phone-btn value = "5"}}
                {{ticket-phone-btn value = "6"}}
            </div>
        </div>
        <div class="row margin-bottom-10">
            <div class="col-md-12 text-center">
                {{ticket-phone-btn value = "1"}}
                {{ticket-phone-btn value = "2"}}
                {{ticket-phone-btn value = "3"}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                {{ticket-phone-trash-btn}}
                {{ticket-phone-btn value = "0"}}                
                {{ticket-phone-remove-btn}}
            </div>
        </div>
    </div>
</div>