<div class="portlet-title">
    <div class="caption">
        <i class="icon-info font-green-sharp"></i>
        <span class="caption-subject font-green-sharp">Инфо</span>
    </div>
</div>
<div class="portlet-body ticket-portlet-body">
    <div class="info-top">
        <!-- мастер -->
        {{ticket-info-master-top}}

        <!-- услуги -->
        {{ticket-info-services-top}}

        <!-- дата -->
        {{ticket-info-date-top}}

        <!-- время -->
        {{ticket-info-time-top}}

        <!-- телефон -->
        {{ticket-info-client-top}}
    </div>

    <div class="info-bottom">
        {{ticket-info-master}}
        {{ticket-info-services}}
        {{ticket-info-date}}
        {{ticket-info-client}}
        {{ticket-info-cost}}
    </div>


</div>