<div class="portlet-title">
    <div class="caption">
        <i class="fa fa-user font-red-sunglo"></i>
        <span class="caption-subject font-red-sunglo">Клиент</span>
    </div>
    <div class="actions">
        <a href="javascript:;" class="btn btn-default btn-icon-only">
            <i class="glyphicon glyphicon-menu-left"></i>
        </a>
        <a href="javascript:;" class="btn btn-default btn-icon-only">
            <i class="glyphicon glyphicon-menu-right"></i>
        </a>
    </div>
</div>
<div class="portlet-body">
    <div class="grid">
        <div class="row margin-bottom-10">
            <div class="col-md-12 text-center">
                {{ticket-phone-btn value = "7"}}
                {{ticket-phone-btn value = "8"}}
                {{ticket-phone-btn value = "9"}}
            </div>
        </div>
        <div class="row margin-bottom-10">
            <div class="col-md-12 text-center">
                {{ticket-phone-btn value = "4"}}
                {{ticket-phone-btn value = "5"}}
                {{ticket-phone-btn value = "6"}}
            </div>
        </div>
        <div class="row margin-bottom-10">
            <div class="col-md-12 text-center">
                {{ticket-phone-btn value = "1"}}
                {{ticket-phone-btn value = "2"}}
                {{ticket-phone-btn value = "3"}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                {{ticket-phone-remove-btn}}
                {{ticket-phone-btn value = "0"}}
                {{ticket-phone-accept-btn}}
            </div>
        </div>
    </div>
</div>