<div class="mt-card-item" {{action 'selectMaster' master}}>
    <div class="mt-card-avatar mt-overlay-1">
    {{#if master.imgSrc}}
        <img src="{{master.imgSrc}}">
    {{else}}
        <img src="https://image.flaticon.com/icons/svg/522/522401.svg">
    {{/if}}
    </div>
    <div class="mt-card-content">
        <h3 class="mt-card-name">{{master.fullname}}</h3>
    </div>
</div>
{{yield}}