<div class="row step-line">

    <div id="master-step" class="col-xs-2 col-xs-offset-1 mt-step-col active first" {{action "changeStep" "#master-step"}}>
        <div class="mt-step-number bg-white">
            <i class="fa fa-scissors"></i>
        </div>
        <div class="mt-step-title uppercase font-grey-cascade"></div>
    </div>
    <div id="services-step" class="col-xs-2 mt-step-col" {{action "changeStep" "#services-step"}} {{action "getServicesByMaster"}}>
        <div class="mt-step-number bg-white">
            <i class="icon-bag"></i>
        </div>
        <div class="mt-step-title uppercase font-grey-cascade"></div>
    </div>
    <div id="date-step" class="col-xs-2 mt-step-col" {{action "changeStep" "#date-step"}} {{action "getHolidays"}}>
        <div class="mt-step-number bg-white">
            <i class="icon-calendar"></i>
        </div>
        <div class="mt-step-title uppercase font-grey-cascade"></div>
    </div>
    <div id="time-step" class="col-xs-2 mt-step-col" {{action "changeStep" "#time-step"}} {{action "getTimeSlots"}}>
        <div class="mt-step-number bg-white">
            <i class="icon-clock"></i>
        </div>
        <div class="mt-step-title uppercase font-grey-cascade"></div>
    </div>
    <div id="client-step" class="col-xs-2 mt-step-col last" {{action "changeStep" "#client-step"}}>
        <div class="mt-step-number bg-white">
            <i class="icon-user"></i>
        </div>
        <div class="mt-step-title uppercase font-grey-cascade"></div>
    </div>
</div>
{{yield}}
