<div class="portlet-title">
    <div class="caption">
        <i class="icon-info font-green-sharp"></i>
        <span class="caption-subject font-green-sharp">Инфо</span>
    </div>
</div>
<div class="portlet-body">
<!-- мастер -->
{{ticket-info-master-top}}

<!-- услуги -->
{{ticket-info-services-top}}

<!-- дата -->
{{ticket-info-date-top}}

<!-- время -->
{{ticket-info-time-top}}

<!-- телефон -->
{{ticket-info-client-top}}
<br>

    {{ticket-info-master}}
    {{ticket-info-services}}
    <div class="ticket-info-bottom ticket-info-date hidden">
        <div>
            <i class="icon-calendar font-red-sunglo margin-right-10"></i>
        </div>
        <div class="ticket-info-date__date ticket-info-bottom__text"></div>
    </div>
    {{ticket-info-client}}
</div>