<div class="portlet-title">
    <div class="caption">
        <i class="icon-bag font-red-sunglo"></i>
        <span class="caption-subject font-red-sunglo">Услуги</span>
    </div>
    <div class="actions">
        {{ticket-direction-btn direction="left" elemSelector="#ticket-master" stepSelector="#master-step"}}
        {{ticket-direction-btn direction="right" elemSelector="#ticket-date" stepSelector="#date-step"}}
    </div>
</div>
<div class="portlet-body ticket-portlet-body">
    <div class="grid">
        <div class="row margin-bottom-10">
            <div class="col-md-4 col-lg-3">
                {{ticket-services-item item-name="Покраска. Длинные волосы (до 50см)" item-time="120 мин" item-price="1500р"}}
            </div>
            <div class="col-md-4 col-lg-3">
                {{ticket-services-item item-name="Мелирование. Короткие волосы (до 30см)" item-time="120 мин" item-price="1300р"}}
            </div>
            <div class="col-md-4 col-lg-3">
                {{ticket-services-item item-name="Стрижка. Под насадку" item-time="30 мин" item-price="300р"}}
            </div>
        </div>
    </div>
</div>