<div class="portlet-title">
    <div class="caption">
        <i class="fa fa-scissors font-red-sunglo"></i>
        <span class="caption-subject font-red-sunglo">Мастер</span>
    </div>
    <div class="actions">
        {{ticket-direction-btn direction="left" elemSelector="#ticket-client" stepSelector="#client-step"}}
        {{ticket-direction-btn direction="right" elemSelector="#ticket-services" stepSelector="#services-step"}}
    </div>
</div>
<div class="portlet-body">
    <div class="grid">
        <div class="mt-element-card mt-element-overlay">
            <div class="row">
                <div class="col-md-4">
                    {{ticket-master-card master-name="Jon Snow" src="http://www.tudoetodas.com.br/imagens/noticia/36088/42592-jon-snow.jpg"}}
                </div>
                <div class="col-md-4">
                    {{ticket-master-card master-name="Daenerys Targaryen" src="http://digitalspyuk.cdnds.net/17/30/320x320/square-1501096289-got2.jpg"}}
                </div>
                <div class="col-md-4">
                    {{ticket-master-card master-name="Some name"}}
                </div>
            </div>
        </div>
    </div>
</div>