<div class="ticket-info__item ticket-info-client {{if (eq activeStep "#client-step") "animate-from-top" ""}}">
    <div>
        <i class="icon-call-end font-red-sunglo margin-right-10"></i>
    </div>
    <div class="ticket-info-client__phone" mask='+7(999)999-99-99'>+7{{phone}}</div>
</div>

<div class="ticket-info__item ticket-info-client {{if client.id "animate-from-top" ""}}">
    <div>
        <i class="icon-user font-red-sunglo margin-right-10"></i>
    </div>
    <div>{{client.firstname}} {{client.secondname}}</div>
</div>

{{#if isNewClient}}            
    {{input type="text" 
    id="ticket-info__client-name"
    value=name 
    focus-out=(action "saveClient" name)
    class="form-control" autofocus="autofocus"}}
{{/if}}