<div class="portlet-title">
    <div class="caption">
        <i class="icon-info font-green-sharp"></i>
        <span class="caption-subject font-green-sharp">Информация о записи</span>
    </div>
</div>
<div class="portlet-body ticket-portlet-body">
    <div class="ticket-info">
        {{ticket-info-master}} 
        {{ticket-info-services}} 
        {{ticket-info-cost}} 
        {{ticket-info-date}} 
        {{ticket-info-client}}
    </div>
    {{!-- <ul class="alert alert-danger">
        {{#each validationMessage as |message|}}
            <li>{{message}}</li>
        {{/each}}
    </ul> --}}
    <div class="ticket-submit-btn-wrapper">
        <button type="button" class="btn btn-lg btn-success ticket-submit-btn" {{action "saveTicket"}} disabled={{v-get ticket 'isInvalid'}}>Записать</button>
    </div>
</div>