{{!-- {{#if session.isAuthenticated}} --}}
    {{page-header}}
    <div class="clearfix"></div>
<div class="page-container">
	{{sidebar-menu}}
    <div class="page-content-wrapper">
        <div class="page-content">
	       {{outlet}}
       </div>
    </div>
</div>
{{page-footer}}
{{!-- {{else}}
	{{login-page}}
{{/if}} --}}

