<div class="row">
	<div class="col-md-12 page-404">
		<div class="number font-green"> {{t "not.found.404"}} </div>
		<div class="details">
			<h3>{{t "not.found.oops.lost"}}</h3>
			<p>
				{{t "not.found.page"}}
				<br>
				{{#link-to "index"}} {{t "not.found.return.index"}} {{/link-to}} {{t "not.found.search.below"}}
			</p>
			<form action="#">
				<div class="input-group input-medium">
					<input type="text" class="form-control">
					<span class="input-group-btn">
						<button type="submit" class="btn green">
							<i class="fa fa-search"></i>
						</button>
					</span>
				</div>
			</form>
		</div>
	</div>
</div>