<div id="ticket-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&cross;</button>
                <h4 class="modal-title">Запись #{{event.id}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-md-4">Клиент:</label>
                            <label class="form-control-static col-md-6">
                                {{event.title}}
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Телефон:</label>
                            <label class="form-control-static col-md-6">
                                {{event.data.client.phone}}
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Время:</label>
                            <label class="form-control-static col-md-6">
                                {{moment-format event.ticketDate "Do MMMM"}} {{moment-format event.start "HH:mm"}}—{{moment-format event.end "HH:mm"}}, {{event.data.duration}} мин.
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Услуги:</label>
                            <label class="form-control-static col-md-6">
                                {{#each event.data.services as |service|}}
                                <span class="ticket-modal__service">{{service.name}}</span>
                                {{/each}}
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Стоимость:</label>
                            <label class="form-control-static col-md-6">
                                {{event.data.cost}} ₽
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Статус:</label>
                            <label class="form-control-static col-md-6">
                                {{event.data.status}}
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Комментарий:</label>
                            <label class="form-control-static col-md-6">
                                {{#if event.data.comment}} {{event.data.comment}} {{else}} — {{/if}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                {{ticket-modal/ticket-modal-footer event=event}}
            </div>
        </div>
    </div>
</div>