{{#bs-modal open=openTicketInfo onHidden=(action (mut openTicketInfo) false) as |modal| }}
	{{#modal.header}}
		<h4 class="modal-title">{{t "ticket.label"}} #{{event.id}}</h4>
	{{/modal.header}}
	{{#modal.body}}
		<div class="form-horizontal">
			<div class="form-body">
				<div class="form-group">
					<label class="control-label col-md-4">{{t "ticket.user.label"}}:</label>
					<label class="form-control-static col-md-6">
						{{event.title}}
					</label>
				</div>
				<div class="form-group">
					<label class="control-label col-md-4">{{t "ticket.phone.label"}}:</label>
					<label class="form-control-static col-md-6">
						{{event.data.client.phone}}
					</label>
				</div>
				<div class="form-group">
					<label class="control-label col-md-4">{{t "ticket.time.label"}}:</label>
					<label class="form-control-static col-md-6">
						{{moment-format event.ticketDate "Do MMMM"}} {{moment-format event.start "HH:mm"}}—{{moment-format event.end "HH:mm"}}, {{event.data.duration}}
						{{t "ticket.timeMin.label"}}
					</label>
				</div>
				<div class="form-group">
					<label class="control-label col-md-4">{{t "ticket.services.label"}}:</label>
					<label class="form-control-static col-md-6">
						{{#each event.data.services as |service|}}
							<span class="ticket-modal__service">{{service.name}}</span>
						{{/each}}
					</label>
				</div>
				<div class="form-group">
					<label class="control-label col-md-4">{{t "ticket.cost.label"}}:</label>
					<label class="form-control-static col-md-6">
						{{event.data.cost}} {{t "currency.sign"}}
					</label>
				</div>
				<div class="form-group">
					<label class="control-label col-md-4">{{t "ticket.status.label"}}:</label>
					<label class="form-control-static col-md-6">
						{{event.data.status}}
					</label>
				</div>
				<div class="form-group">
					<label class="control-label col-md-4">{{t "ticket.comment.label"}}:</label>
					<label class="form-control-static col-md-6">
						{{#if event.data.comment}} {{event.data.comment}} {{else}}— {{/if}}
					</label>
				</div>
			</div>
		</div>
	{{/modal.body}}
	{{#modal.footer}}
		{{ticket-modal/ticket-modal-footer event=event modal=openTicketInfo}}
	{{/modal.footer}}
{{/bs-modal}}