<!-- BEGIN FORGOT PASSWORD FORM -->
<form id="forget-form">
    <h3>Forget Password ?</h3>
    <p> Enter your phone below to reset your password. </p>
    <div class="form-group">
        <div class="input-icon">
            <i class="fa fa-mobile"></i>
            {{input-mask mask='+7(999)999-99-99'class="form-control placeholder-no-fix" type="tel" autocomplete="off" placeholder="Phone" name="phone" disabled=isCodeSent}}
        </div>
    </div>
    <div class="form-group">
        <div class="input-icon">
            <i class="fa fa-lock"></i>
            {{input id="pass" class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="New password" name="pass" disabled=isCodeSent}}
        </div>
    </div>
    <div class="form-group">
        <div class="input-icon">
            <i class="fa fa-check"></i>
            {{input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Re-type new password" name="rpass" disabled=isCodeSent}}
        </div>
    </div>
    {{#if isCodeSent}}
        {{login/submit-forget-code}}
    {{/if}}
    <div class="form-actions">
        <button type="button" class="btn red btn-outline" {{action 'showLoginForm'}}>Back </button>
        {{#unless isCodeSent}}
            <button type="submit" class="btn green pull-right" {{action 'sumbitCode'}}> Submit code</button>
        {{else}}
            <button type="submit" class="btn green pull-right" {{action 'checkCode'}}> Finish </button>
        {{/unless}}
    </div>
</form>
<!-- END FORGOT PASSWORD FORM -->