<h3 class="form-title font-green">Восстановить доступ</h3>
<div class="form-group">
    <div class="input-icon">
        <i class="fa fa-mobile"></i>
        {{masked-input mask=phoneMask class="form-control placeholder-no-fix" placeholder='Телефон' type="tel" autofocus="autofocus"
        disabled=isCodeSent name="phone" value=phone}}
    </div>
</div>

{{#unless isCodeSent}}
<div class="form-group">
    <div class="input-icon">
        <i class="fa fa-lock"></i>
        {{input id="pass" class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Введите новый пароль"
        name="pass" value=pass}}
    </div>
</div>
<div class="form-group">
    <div class="input-icon">
        <i class="fa fa-check"></i>
        {{input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Повторите пароль" name="rpass"
        value=rpass}}
    </div>
</div>
<div class="form-actions">
    <button type="button" class="btn green btn-outline" {{action 'showLogin'}}>Назад</button>
    <button type="submit" class="btn btn-success uppercase pull-right" {{action 'sumbitCode'}} disabled={{isFormInvalid}}>Получить код</button>
</div>
{{else}}
<div class="form-group">
    <div class="input-icon">
        <i class="fa fa-key"></i>
        {{input class="form-control placeholder-no-fix" type="tel" autocomplete="off" placeholder="Code" name="code" maxlength=6  value=code}}
        {{input type="hidden" id="requestId" name="requestId" value=requestId}}
    </div>
</div>
<div class="form-actions">
    <button type="submit" class="btn btn-success uppercase pull-right" {{action 'checkCode'}}>Завершить</button>
</div>
{{/unless}}