{{#bs-form model=service formLayout="horizontal" novalidate=true onSubmit=(action "save") as |form|}}
	<div class="form-body">
		{{form.element controlType="text" label=(t "service.name.label")  property="name" useIcons=false}}
		{{#form.element controlType="power-select-multiple" 
			property="masters" 
			label=(t "service.masters.label") 
			options=allMasters 
			useIcons=false as |el|}}
			{{#el.control searchField="fullname" as |option|}}
				{{option.fullname}}
			{{/el.control}}
		{{/form.element}}
		{{#form.element controlType="checkbox" property="partOfList" useIcons=false as |el|}}
			<label class="mt-checkbox">
				{{t "service.partOfList.label"}} {{el.control}}
				<span></span>
			</label>
		{{/form.element}}
		{{form.element controlType="text" label=(t "service.cost.label")  property="cost" useIcons=false}}
		{{form.element controlType="text" label=(t "service.time.label")  property="time" useIcons=false}}
	</div>
	<div class="form-actions">
		{{#form.group}}
			<div class="col-md-offset-4 col-md-8">
				{{bs-button defaultText=(t "button.save") type="success" buttonType="submit"}}
				{{#link-to "auth.service.index" class="btn btn-default" }}
					<i class="fa fa-arrow-left"></i>
					{{t "button.back"}}
				{{/link-to}}
			</div>
		{{/form.group}}
	</div>
{{/bs-form}}