{{#bs-form model=serviceGroup formLayout="horizontal" novalidate=true onSubmit=(action "save") as |form|}}
	<div class="form-body">
		{{form.element controlType="text" label=(t "service.name.label")  property="name" useIcons=false}}
		{{#form.element controlType="power-select-multiple" property="masters" label=(t "service.masters.label") options=allMasters
		 useIcons=false as |el|}}
			{{#el.control searchField="fullname" as |option|}}
				{{option.fullname}}
			{{/el.control}}
		{{/form.element}}
		{{#form.group}}
			<label class="col-md-4 control-label">
				{{t "serviceGroup.subservices.label"}}
			</label>
			<div class="col-md-8">
				{{service/subservice-list 
					subservices=subservices
					serviceGroup=serviceGroup}}
			</div>
		{{/form.group}}
		{{#form.group}}
			<label class="col-md-4 control-label">
				{{t "service.cost.label"}}
			</label>
			<div class="col-md-8">
				<label class="form-control-static">
					{{serviceGroup.cost}}&nbsp;{{t "currency.sign"}}
				</label>
				{{form.element controlType="hidden" property="cost" useIcons=false}}
			</div>
		{{/form.group}}
		{{#form.group}}
			<label class="col-md-4 control-label">
				{{t "service.cost.label"}}
			</label>
			<div class="col-md-8">
				<label class="form-control-static">
					{{serviceGroup.time}}&nbsp;{{t "service.time.minutes.label"}}
				</label>
				{{form.element controlType="hidden" property="time" useIcons=false}}
			</div>
		{{/form.group}}
	</div>
	<div class="form-actions">
		{{#form.group}}
			<div class="col-md-offset-4 col-md-8">
				{{bs-button defaultText=(t "button.save") type="success" buttonType="submit"}}
				{{#link-to "auth.service.index" class="btn btn-default" }}
					<i class="fa fa-arrow-left"></i>
					{{t "button.back"}}
				{{/link-to}}
			</div>
		{{/form.group}}
	</div>
{{/bs-form}}