<h3 class="font-green">Регистрация</h3>
<p class="hint">Введите данные вашей организации:</p>
<div class="form-group">
    <label class="control-label visible-ie8 visible-ie9">Название</label>
    {{input class="form-control placeholder-no-fix" placeholder="Название" value=business.name}}
</div>
<div class="form-group">
    <label class="control-label visible-ie8 visible-ie9">Адрес</label>
    {{input class="form-control placeholder-no-fix" placeholder="Город, улица, дом" value=business.address}}
</div>
<p class="hint"> Введите личные данные: </p>
<div class="form-group">
    <label class="control-label visible-ie8 visible-ie9">Имя</label>
    {{input class="form-control placeholder-no-fix" placeholder="Имя" value=master.firstname}}
</div>
<div class="form-group">
    <label class="control-label visible-ie8 visible-ie9">Телефон</label>
    {{input class="form-control placeholder-no-fix" placeholder="Телефон" value=master.phone}}
</div>
<div class="form-group">
    <label class="control-label visible-ie8 visible-ie9">Новый пароль</label>
    {{input class="form-control placeholder-no-fix" placeholder="Новый пароль" type="password" value=master.password}}
</div>
<div class="form-group margin-top-20 margin-bottom-20">
    <label class="mt-checkbox mt-checkbox-outline">
        <input name="tnc" type="checkbox"> I agree to the
        <a href="javascript:;">Terms of Service </a> &amp;
        <a href="javascript:;">Privacy Policy </a>
        <span></span>
    </label>
</div>
<div class="form-actions">
    <button type="submit" class="btn btn-success uppercase" {{action "saveBusinessAndUser"}}>Submit</button>
</div>