<div class="page-sidebar navbar-collapse collapse">
	<ul class="page-sidebar-menu page-header-fixed page-sidebar-menu-closed" data-keep-expanded="false" data-auto-scroll="true"
	 data-slide-speed="200" style="padding-top: 20px">
		<li class="sidebar-toggler-wrapper hide">
			<div class="sidebar-toggler">
				<span></span>
			</div>
		</li>
		<li class="nav-item start ">
			{{#link-to "auth" class="nav-link nav-toggle" }}
				<i class="icon-home"></i>
				<span class="title">{{t "page.index"}}</span>
			{{/link-to}}
		</li>
		<li class="heading">
			<h3 class="uppercase">{{t "page.features"}}</h3>
		</li>
		<li class="nav-item">
			{{#link-to "auth.ticket.create" class="nav-link nav-toggle" }}
				<i class="icon-note"></i>
				<span class="title">{{t "page.ticket.create"}}</span>
			{{/link-to}}
		</li>
		<li class="nav-item">
			{{#link-to "auth.ticket.index" class="nav-link nav-toggle" }}
				<i class="icon-calendar"></i>
				<span class="title">{{t "page.tickets"}}</span>
			{{/link-to}}
		</li>
		<li class="nav-item">
			{{#link-to "auth.service.index" class="nav-link nav-toggle" }}
				<i class="icon-bag"></i>
				<span class="title">{{t "page.services"}}</span>
			{{/link-to}}
		</li>
		<li class="nav-item">
			{{#link-to "auth.master.index" class="nav-link" }}
				<i class="icon-users"></i>
				<span class="title">{{t "page.masters"}}</span>
			{{/link-to}}
		</li>
		<li class="nav-item  ">
			<a href="javascript:;" class="nav-link nav-toggle">
				<i class="icon-settings"></i>
				<span class="title">{{t "page.settings"}}</span>
			</a>
		</li>
	</ul>
</div>