<div id="ticket-services" class="portlet light bordered right-panel ticket-portlet {{if (not-eq activeStep "#services-step") "hidden"}}">
	<div class="portlet-title">
		<div class="caption">
			<div class="portlet-input input-inline">
				<div class="input-icon right">
					<i class="icon-magnifier"></i>
					{{input class="form-control" placeholder=(t "search.by.service.label") key-up=(action "filterServices") value=filter}}
				</div>
			</div>
		</div>
		<div class="actions">
			<button class="btn green" {{action "getHolidays"}} disabled= {{servicesNotSelected}}>{{t "select.label"}}</button>
		</div>
	</div>
	<div class="portlet-body ticket-portlet-body">
		{{#if ticket.master}}
			<div class="tiles">
				{{#if filteredServices}}
					{{#each filteredServices as |service|}}
						{{ticket-create/ticket-services-item service=service}}
					{{/each}}
				{{else}}
					{{#each servicesByMaster as |service|}}
						{{ticket-create/ticket-services-item service=service}}
					{{/each}}
				{{/if}}
			</div>
		{{else}}
			{{ticket-create/ticket-hint hint=hint}}
		{{/if}}
	</div>
</div>