<div id="ticket-client" class="portlet light bordered right-panel {{if (not-eq activeStep "#client-step") "hidden "}}">
	<div class="portlet-title">
		<div class="caption">
			<span class="caption-subject font-red-sunglo">{{t "client.number.phone"}}</span>
		</div>
	</div>
	<div class="portlet-body ticket-portlet-body">
		<div class="grid center-block-vertically">
			<div class="row margin-bottom-10">
				<div class="col-md-12 text-center">
					{{ticket-create/ticket-phone-btn value = "7"}} {{ticket-create/ticket-phone-btn value = "8"}} {{ticket-create/ticket-phone-btn value = "9"}}
				</div>
			</div>
			<div class="row margin-bottom-10">
				<div class="col-md-12 text-center">
					{{ticket-create/ticket-phone-btn value = "4"}} {{ticket-create/ticket-phone-btn value = "5"}} {{ticket-create/ticket-phone-btn value = "6"}}
				</div>
			</div>
			<div class="row margin-bottom-10">
				<div class="col-md-12 text-center">
					{{ticket-create/ticket-phone-btn value = "1"}} {{ticket-create/ticket-phone-btn value = "2"}} {{ticket-create/ticket-phone-btn value = "3"}}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					{{ticket-create/ticket-phone-trash-btn}} {{ticket-create/ticket-phone-btn value = "0"}} {{ticket-create/ticket-phone-remove-btn}}
				</div>
			</div>
		</div>
	</div>
</div>