<div id="ticket-services" class="portlet light bordered right-panel {{if (not-eq activeStep "#services-step") "hidden"}}">
	<div class="portlet-title">
		<div class="caption">
			<span class="caption-subject font-red-sunglo">{{t "ticket.services.choose"}}</span>
		</div>
		<div class="inputs">
			<div class="portlet-input input-inline input-medium">
				<div class="input-group">
					{{input class="form-control input-circle-left" placeholder=(t "search.label") key-up=(action "filterServices") value=filter}}
					<span class="input-group-btn">
						<button class="btn btn-circle-right btn-default" type="submit">{{t "search.find.label"}}</button>
					</span>
				</div>
			</div>
		</div>
		{{#if ticket.services}}
			<div class="actions">
				<button class="btn green" {{action "getHolidays"}}>{{t "select.label"}}</button>
			</div>
		{{/if}}
	</div>
	<div class="portlet-body ticket-portlet-body">
		<div class="tiles">
			{{#if filteredServices}}
				{{#each filteredServices as |service|}}
					{{ticket-create/ticket-services-item service=service}}
				{{/each}}
			{{else}}
				{{#each servicesByMaster as |service|}}
					{{ticket-create/ticket-services-item service=service}}
				{{/each}}
			{{/if}}
		</div>
	</div>
</div>