{{#bs-form model=master formLayout="horizontal" novalidate=true onSubmit=(action "save") as |form|}}
	<div class="form-body">
		{{form.element controlType="text" label=(t "user.firstname.label")  property="firstname" useIcons=false}}
		{{form.element controlType="text" label=(t "user.secondname.label")  property="secondname" useIcons=false}}
		{{#form.element controlType="tel" label=(t "user.phone.label")  property="phone" useIcons=false as |el|}}
			{{masked-input class="form-control" mask=phoneMask value=el.value}}
		{{/form.element}}
	</div>
	<div class="form-actions">
		{{#form.group}}
			<div class="col-md-offset-4 col-md-8">
				{{bs-button defaultText=(t "button.save") type="success" buttonType="submit"
					disabled=(v-get master 'isInvalid')}}
				{{#link-to "auth.master.index" class="btn btn-default" }}
					<i class="fa fa-arrow-left"></i>
					{{t "button.back"}}
				{{/link-to}}
			</div>
		{{/form.group}}
	</div>
{{/bs-form}}