<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            <label class="mt-checkbox">
                {{moment-format workTime.dayOfWeek "ddd" "d"}} {{input type="checkbox" checked=workTime.checked}}
                <span></span>
            </label>
        </div>
    </div>
    <div class="col-md-10">
        {{#if workTime.checked}}
        <div class="form-group work-time-row__group">
            {{input type="text" class="form-control work-time-row__input" placeholder="10:00" value=workTime.start maxlength=5}} —
            {{input type="text" class="form-control work-time-row__input" placeholder="19:00" value=workTime.end maxlength=5}}
        </div>
        <div class="form-group work-time-row__group">
            перерыв
            {{input type="text" class="form-control work-time-row__input" placeholder="13:00" value=workTime.lunchStart maxlength=5}} —
            {{input type="text" class="form-control work-time-row__input" placeholder="14:00" value=workTime.lunchEnd maxlength=5}}
        </div>
        {{else}}
        <div class="form-group work-time-row__group">
            <label class="form-control-static">выходной</label>
        </div>
        {{/if}}
    </div>
</div>