<div class="portlet light bordered">
	<div class="portlet-title">
		<div class="caption font-dark">
			<i class="icon-clock font-green-sharp "></i>
			<span class="caption-subject bold uppercase">{{t "worktime.label"}}</span>
		</div>
	</div>
	<div class="portlet-body form">
		{{#each jointWorkTimes as |workTime|}} {{master/work-time-row workTime=workTime}} {{/each}}
		<div class="form-actions">
			<div class="row">
				<div class="col-md-offset-2 col-md-10">
					{{#if errors}}
					<div class="alert alert-danger">
						{{#each errors as |error|}}
						<p>
							<small>{{error.attribute}}: {{error.message}}</small>
						</p>
						{{/each}}
					</div>
					{{/if}}
				</div>
			</div>
			<div class="row">
				<div class="col-md-offset-2 col-md-10">
					<button type="submit" class="btn btn-success" {{action "saveWorkTimes"}}>{{t "button.save"}}</button>
					{{#link-to "auth.master.index" class="btn btn-default"}} {{t "button.back"}} {{/link-to}}
				</div>
			</div>
		</div>
	</div>
</div>