{{ticket-steps class=""}}
<div class="grid">
    <div class="row">
        <div class="col-md-5">
            {{ticket-info}}
        </div>
        <div class="col-md-7">
            {{ticket-master masters=model.masters}}
            {{ticket-services class = "hidden"}}
            {{ticket-date class = "hidden"}}
            {{ticket-time class = "hidden"}}
            {{ticket-client class = "hidden"}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
                 {{ticket-form}}
        </div>
    </div>
</div>