{{ticket-steps class=""}}
<div class="grid">
    <div class="row">
        <div class="col-md-7">
            {{ticket-master masters=model.masters}}
            {{ticket-services services=model.services}}
            {{ticket-date}}
            {{ticket-time}}
            {{ticket-client}}
        </div>
        <div class="col-md-5">
            {{ticket-info}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ticket-form ticket=model.ticket}}
        </div>
    </div>
</div>